{% extends "_layouts/cp" %}
{% set plHandle = 'gpt-content-generator' %}
{% set title = 'Edit Prompts'|t(plHandle) %}

{% set fullPageForm = true %}

{% set crumbs = [
	{ label: 'Prompts'|t('app'), url: url('gpt-content-generator') }
] %}

{% block content %}
	<div id="prompts-edit" data-id="{{promptId}}" data-url="{{url('gpt-content-generator')}}"></div>
{% endblock %}